@import "tailwindcss";

@plugin "daisyui";



@plugin "daisyui/theme" {
    name: "gyansetu";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.005 85);
    --color-base-200: oklch(94% 0.008 85);
    --color-base-300: oklch(88% 0.012 85);
    --color-base-content: oklch(25% 0.015 240);
    --color-primary: oklch(68% 0.19 55);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(62% 0.17 145);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: oklch(60% 0.15 250);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(35% 0.02 240);
    --color-neutral-content: oklch(95% 0.01 240);
    --color-info: oklch(65% 0.16 240);
    --color-info-content: oklch(100% 0 0);
    --color-success: oklch(68% 0.18 145);
    --color-success-content: oklch(20% 0.05 145);
    --color-warning: oklch(78% 0.16 75);
    --color-warning-content: oklch(25% 0.05 75);
    --color-error: oklch(62% 0.22 25);
    --color-error-content: oklch(100% 0 0);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

:root{
    font-family: 'Playfair Display', 'serif'
}
